@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: black;
}
main {
  min-height: 80vh;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
code {
  font-family: "Roboto", sans-serif;
}
